body{
    background-color:rgba(246, 206, 171,1);
    background-image: url('https://thumbs.dreamstime.com/b/hello-different-languages-word-cloud-hello-different-languages-word-cloud-illustration-164084300.jpg');
}   
.app{
    width: 100%;
}
